html{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(63, 63, 62);
}

body{
    background-color: red;
    color: white;

}

.content{
    box-shadow: 0 0 10px 5px rgb(20, 20, 20);
}

.text{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 7px;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

.thing{
    font-family: 'Dosis', sans-serif;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}
nav{
    font-family: 'Dosis', sans-serif;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

.links:hover{
    font-size: 30px;
    font-weight: bold;

}

